#popup {
    position: fixed; 
    bottom: 100px; 
    right: 20px; 
    background-color: white; 
    padding: 15px; 
    border-radius: 8px; 
    display: block; 
    z-index: 1002; 
    opacity: 1;
    width: fit-content;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    animation: slideUpIcon 0.5s forwards;
  }
  
  #popupText {
    font-size: 14px; 
    margin-right: 30px;
  }
  
  .hidden {
    display: none;
  }
  
  #closePopup {
    position: absolute; 
    right: 3px; 
    top: 3px; 
    border: none; 
    background: none; 
    cursor: pointer;
    margin: 5px;
  }
  

  #chatIcon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    font-size: 24px;
    animation: slideUpIcon 0.5s forwards;
    animation-delay: 0.s; /* Only happens on initial load */
    opacity: 0; /* Start with the chat icon being fully transparent */
  }

  @keyframes slideUpIcon {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
  }
  
  @keyframes slideDownIcon{
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
  
        transform: translateY(100px);
        opacity: 0;
    }
  }

  
