  body {
    font-family: 'Roboto', sans-serif;
  }
  
  #chatContainer {
    position: fixed;
    display: flex; 
    flex-direction: column; 
    width: 95%;
    height: 80%;
    overflow: hidden;
    transition: height 0.5s ease;
    box-shadow: 0 0 10px rgba(0,0,0,0.2); 
    border-radius: 10px;
    z-index: 1000;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: slideDownContainer 0.5s forwards;
    animation-delay: 0.s; /* Only happens on initial load */
    opacity: 0; /* Start with the chat icon being fully transparent */
  }

  .slideUp {
    animation: slideUpContainer 0.5s forwards;
    animation-delay: 0.s; /* Only happens on initial load */
    opacity: 0; /* Start with the chat icon being fully transparent */
  }

  @keyframes slideDownContainer {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
  }
  
  @keyframes slideUpContainer {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-100%);
        opacity: 0;
    }
  }
  
  #closeButton {
    position: absolute; 
    right: 10px; 
    top: 10px; 
    border: none; 
    background: none; 
    cursor: pointer;
  }
  
  #backArrow {
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #chatIconHeader {
    width: 55px;
    height: 55px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    font-size: 24px;
  }
  
  #chatHeader {
      display: flex;
      padding: 20px;
      background-color: white;
      position: relative; /* To contain the close button correctly */
  }
  
  #messagesView{
    height: 100%;
    overflow-y: auto;
    padding: 8px;
    background-color: #eaeef3;
  }
  
  .message {
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: block;
    width: fit-content;
    max-width: 80%;
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
  }

  .timestamp {
    color: gray;
    font-size: 9pt;
    margin-bottom: 8px;
    margin-left: 5px;
  }

  .timestamp-container {
    display: flex;
    align-items: flex-start;
  }

  .timestamp-container.with-placeholder .timestamp {
    margin-left: 32px; /* Adjust as needed for placeholder width */
  }

  .message-group.from-bot + .timestamp {
    text-align: left;
    margin-left: 4px;
  }
  
  .message-group.from-user + .timestamp {
    text-align: right;
    margin-right: 4px;
  }

  .message a {
    color: blue;
    text-decoration: underline;
  }
  
  .from-user {
    margin-left: auto;
    background-color: #3399ff;
    text-align: left;
    color: white; /* Set text color to white */
    padding: 14px;
    border-radius: 15px;
    font-size: 14px; /* Smaller text size */
    font-weight: 500;
  }
  
  .optionText {
    font-weight: 500;
    font-size: 12px;
  }
  
  .from-bot {
    text-align: left;
    background-color: #fff;
    padding: 14px;
    border-radius: 15px;
    font-size: 14px; /* Smaller text size */
    font-weight: 500;
    /* margin-left: 30px; */
  }

  .ai-icon {
    width: 35px;
    height: 35px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    margin-bottom: 10px;
    flex-shrink: 0; /* Prevent icon from shrinking */
  }

  .ai-icon-placeholder {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    margin-bottom: 10px;
    flex-shrink: 0; /* Prevent icon from shrinking */
  }
  
  #exampleQuestionsContainer {
    padding: 10px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the container's children */
    /* width: 100%; Full width of the parent container */
    /* box-sizing: border-box; Include padding in the width */
    background-color: #eaeef3;
  }
  .example-question {
    background-color: #fff; /* White background */
    border: 1px solid #3399ff; /* Blue border */
    border-radius: 10px;
    padding: 10px 15px;
    margin: 10px auto; /* Center and space between buttons */
    cursor: pointer;
    color: #3399ff; /* Blue text */
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    text-align: center;
  }

  #chatControls {
    transition: margin-top 0.3s ease;
    margin-top: 0; /* Initially, no extra space */
    margin-bottom: 0;
  }
  
  #chatOptions {
    display: flex;
    flex-direction: column; /* Organizes content in a vertical stack */
    align-items: center; /* Centers the content horizontally */
    padding: 10px;
    background-color: white;
  }
  
  #chatButtonsRow{
    justify-content: space-evenly; /* Evenly spaces buttons */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Allow buttons to wrap to the next line if necessary */
  
  }
  
  #chatOptions button {
    flex: 1 1 auto; /* Allows buttons to grow and shrink but starts at 30% width */
    margin: 5px;
    padding: 6px;
    background-color: #bcd1ea;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    min-width: 90px; /* Minimum width to ensure text visibility */
    white-space: nowrap; /* Prevents text inside the button from wrapping */
  }
  
  #chatOptions button:hover {
      background-color: #3399ff;
  }
  
  #chatOptions button.selected {
      background-color: #3399ff; 
  }
  
  #chatInputContainer {
    flex-direction: row; /* Keeps items in a line */
    padding: 10px;
    display: flex;
    width: 100%;
    background-color: #fff;
  }
  
  #messageInput {
    flex-grow: 1; /* Ensures it takes up available space */
    padding: 8px;
    border-radius: 5px;
    border: 0px solid white;
    margin-right: 10px; /* Ensures spacing between input and button */
    outline: none; /* Removes the default focus outline */
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
  }
  
  #sendButton {
    padding: 8px 16px;
    background-color: #3399ff;
    color: white;
    border: none;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  #sendButton:hover {
      background-color: #063c6c;
  }
  
  #sendButton.disabled {
    background-color: #ccc; /* Disabled button color */
    cursor: not-allowed;
  }
  
  @keyframes bounce {
    0%, 80%, 100% {
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
  }
  
  .loading-dots {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align dots to the start */
    padding: 2px; /* Same padding as .message */
    border-radius: 15px; /* Same border-radius as .message */
    background-color: #fff; /* Same background-color as .from-bot */
    font-size: 2px; /* Same font size as .from-bot */
  }
  
  .loading-dots div {
    width: 8px;
    height: 8px;
    margin: 0 3px;
    background-color: #3399ff;
    border-radius: 50%;
    display: inline-block;
    animation: bounce 1.4s infinite both;
  }
  
  .loading-dots div:nth-child(1) {
    animation-delay: -0.32s;
  }
  
  .loading-dots div:nth-child(2) {
    animation-delay: -0.16s;
  }
  
  .loading-dots div:nth-child(3) {
    animation-delay: 0;
  }
  
  #termsAndConditions {
    background-color: #f9f9f9;
    height: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #contactFormContainer {
    position: absolute;
    bottom: 0; 
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end; 
    z-index: 1001; 
    transition: height 0.5s ease, bottom 0.5s ease;
    background-color: transparent; 
  }
  
  #contactForm {
    background-color: white; /* White background for the form */
    padding: 20px;
    border-radius: 8px 8px 0 0; /* Rounded corners at the top */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%; /* Full width of the parent container */
    max-width: 100%; /* Ensure it doesn't overflow */
    display: flex;
    flex-direction: column;
    box-sizing: border-box; /* Ensure padding is included in width */
  }
  
  #contactForm h3 {
    margin-bottom: 15px;
  }
  
  #contactForm input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
  }
  
  #formButtons {
    display: flex;
    justify-content: space-between;
  }
  
  #noThanksButton, #sendContactFormButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
  }
  
  #noThanksButton {
    background-color: #ccc;
    cursor: pointer;
  }
  
  .disabled {
    background-color: #ccc;
    color: black; 
    cursor: not-allowed; 
  }
  
  .enabled {
    background-color: #3399ff; 
    color: white; 
    cursor: pointer; 
  }
  
  #mainMenu {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    align-items: center;
    background-color: #eaeef3;
    height: calc(100% - 56px); /* Adjust to account for the header height */
  }
  
  .dropdownContainer {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  #userTypeDropdown {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .menuButton {
    width: 90%;
    padding: 16px;
    margin: 10px 0;
    font-size: 14px;
    text-align: right; /* Align text to the right */
    background-color: #3399ff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Space between icon and text */
    align-items: center; /* Center items vertically */
  }
  
  .menuButton:hover {
    background-color: #042a4b;
  }
  
  .menuButton svg {
    margin-right: 10px; /* Add some space between icon and text */
  }

  .user-type-button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Ensure the buttons are aligned to the left */
    width: auto;
    max-width: 300px; /* Adjust this based on how wide you want the buttons */
    border: 2px solid #ccc; /* Slightly thicker grey border */
    border-radius: 10px; /* Rounds the corners of the button group */
    overflow: hidden; /* Ensures child elements respect the border radius */
    background-color: #f9f9f9; /* Optional: Slight background color for better visibility */
  }

  .user-type-button {
    width: 100%;
    padding: 10px 20px;
    border: none; /* Remove individual button borders */
    border-bottom: 2px solid #ccc; /* Add a border between buttons */
    background-color: white;
    font-size: 14px;
    color: #333;
    text-align: center; /* Left align the text within the buttons */
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .user-type-button:last-child {
    border-bottom: none; /* Remove bottom border for the last button */
  }
  
  .user-type-button:hover {
    background-color: rgba(0, 0, 0, 0.05); /* Light grey background on hover */
  }
  
  .user-type-button:active {
    background-color: rgba(0, 0, 0, 0.1); /* Slightly darker grey on click */
  }
  
  #confirmationModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 1003; /* Ensure the modal is on top */
  }
  
  .modalContent {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 1001; /* Ensure the content is on top of the overlay */
  }
  
  .modalButtons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .modalButtons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3399ff;
    color: white;
  }
  
  .modalButtons button:hover {
    background-color: #032c54;
  }
  
  